<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- db.properties的配置文件 -->
	<properties resource="db.properties"></properties>
	<!-- 配置日志 -->
	<settings>
		 <setting name="logImpl" value="LOG4J"/> 
	</settings>
	<typeAliases>
		<typeAlias alias="User" type="com.zd.bean.User" />
		<typeAlias alias="Subject" type="com.zd.bean.Subject" />
		<typeAlias alias="Item" type="com.zd.bean.Item" />
		<typeAlias alias="Options" type="com.zd.bean.Options" />
	</typeAliases>
	<!-- 链接的环境配置 -->
	<environments default="development">
		<!-- 事务管理器的配置 JDBC-->
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<!--sql 映射文件位置 -->
	<mappers>
		<mapper resource="com/zd/mapper/UserMapper.xml"  />
		<mapper resource="com/zd/mapper/SubjectMapper.xml"  />
		<mapper resource="com/zd/mapper/ItemMapper.xml"  />
		<mapper resource="com/zd/mapper/OptionsMapper.xml"  />
		
	</mappers>
</configuration>